:root {
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --bg-header-navigation-color: #121212;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,0.7);
    --bg-header-search-color: #242424;
    --search-input-color: #fff;
    --header-login-subscribe-color: #a7a7a7;
    --header-login-color: #000;
    --bg-playlist-color: #121212;
    --playlist-greeting-color: #fff;
    --playlist-session-color: #fff;
    --cards-span-color: #fff;
    --bg-artist-card:#181818;
    --bg-artist-card-hover: #252525;
}
